numpy
pandas
transformers
torch
trl
peft
bitsandbytes
datasets
huggingface-hub
pydantic
tqdm
Jinja2
pathlib
python-dotenv
llama-cpp-python
httpx
sentencepiece
scipy
sentence_transformers
janome
protobuf
